body{
  background-color: black;

}
table{
  margin-top: 50px;
  margin-left: 33%;
  text-align: center;
}
h1{
  color: white ;
}

td{
  height: 150px;
  width: 150px;
  border: 1px solid white;
  font-size: 60px;
  color: red;
}